#sidebar-wrapper {
  position: absolute;
  z-index: 1;
  width: 250px;
  height: 100%;
  overflow-y; hidden;
  background: #2C3E50;
  border: 2px solid red;
}


#page-content-wrapper{
  width: 100%;
  position: absolute;
  padding-left: 250px; 
  border: 2px solid green;
}
